{% load static %}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="{% static 'todoapp/css/bootstrap.css'%}" rel="stylesheet">
    <title>To-Do App </title>
</head>

<body style="background-color:#D6EAF8;">
    <header>
        <div class="collapse" id="navbarHeader" style="background-color:#5DADE2;">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 col-md-7 py-4">
                        <h4 class="text-dark">About</h4>
                        <p class="text-white">
                            <strong> What is a ToDo List?</strong> <br>The definition is a simple one. It's a list of tasks you need to complete or things that you want to do. </p>
                    </div>
                    <div class="col-sm-4 offset-md-1 py-4">
                        <h4 class="text-dark">Contact</h4>
                        <ul class="list-unstyled">
                            <li><a href="https://github.com/zoot-nix" class="text-white">Follow on Github</a></li>
                            <li><a href="mailto: theowaiszoot@gmail.com" class="text-white">Email me</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="navbar navbar-dark shadow-sm" style="background-color: #5DADE2;">
            <div class="container">
                <a href="#" class="navbar-brand d-flex align-items-center">
                    <strong>To-Do List.</strong>
                </a>
                <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </div>
    </header>
    

    <div class="container text-center py-5">
        
        <h1 class="fw-light px-2 py-2">My To Do List</h1>
        <form action="/addTodoItem/" method="post">
            {% csrf_token %}
            <input type="text" name="content"><br>
            <button class="my-3 btn btn-outline-dark" type="submit">Add Task</button>
        </form>
        
        <div class="container">
        <ul class=" px-5 container list-group">
            {% for i in all_items %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                {{i.content}}
                <form action="/deleteTodoItem/{{i.id}}/" method="post">
                    {% csrf_token %}
                    <button class="btn btn-sm btn-outline-danger" type="submit" value="Delete">Delete</button>
                </form>
            </li>
            {% endfor %}
        </ul>
    </div>
    </div>
    

    <script src="{% static 'todoapp/js/bootstrap.js'%}"></script>
</body>

</html>